header {
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px black;
  box-sizing: border-box;
  margin-bottom: 15px;
}
header button {
  margin: 0 20px;
}
header .fa {
  font-size: 2rem;
  margin: 5px;
}
header .user-info {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
@media (max-width: 992px) {
  header .fa {
    font-size: 1.5rem;
    margin-right: 5px;
  }
  header .user-info {

    width: 25%;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }
  header button {
    margin: 0;
  }
  header .user-info {
    width: 80%;
  }

}

