.btn-group {
    margin: 15px;
}
.add-todo-button {
    margin: 15px;
    width: 60px;
}
.todo-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
.todo-lists-title {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 75%;
    box-sizing: border-box;
    margin: 0;
    background-color: #FFFFFF;
}

.todo-lists-title.done {
    background-color: #cccccc;
}

.todo-lists-title.empty {
    background-color: #FFFFFF;
}
.todo-lists-title.active {
    background-color: greenyellow;
}

.todo-lists-title.current {
    border: 5px solid black;
    box-sizing: border-box;
}
.todo-lists .buttons {
    display: flex;
}
.todo-lists button i {
    font-size: 24px;
}
.todo-lists button {
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.todo-lists h5 {
    padding: 20px;

}
